In [3]:
import pandas as pd
import numpy as np
import re

# Remove restrictions on amount of rows and columns that can be displayed in pandas dataframes.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

data = pd.read_csv("data/US_Accidents_June20.csv")
data

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513612,A-3513776,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,False,Day,Day,Day,Day
3513613,A-3513777,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,False,Day,Day,Day,Day
3513614,A-3513778,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,False,Day,Day,Day,Day
3513615,A-3513779,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,False,Day,Day,Day,Day
3513616,A-3513780,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
data.drop_duplicates(inplace = True)

In [83]:
data.TMC.value_counts()

201.0    2080341
241.0     249852
245.0      40338
229.0      22932
203.0      17639
222.0      13154
244.0      12185
406.0      11109
246.0       7118
343.0       6930
202.0       6298
247.0       4775
236.0       2121
206.0       1274
248.0       1025
339.0        920
341.0        592
336.0         89
200.0         66
239.0         54
351.0          6
Name: TMC, dtype: int64

In [26]:
# Create a function that can check the content pattern for the columns 'ID' and the datetime columns. Return a message if the content follows the right pattern, return the original value if it doesn't.

def homo_check(x, id = "ID"):
    x = str(x)
    if id == "ID":
        if bool(re.match("^[A-Z]{1}[\-]{1}[0-9]+$", x)):
            return "correct ID"
        else:
            return(x)
    elif id == "datetime":
        if bool(re.match("^[0-9]{4}[\-]{1}[0-9]{2}[\-]{1}[0-9]{2}[ ]{1}[0-9]{2}[:]{1}[0-9]{2}[:]{1}[0-9]{2}$", x)):
            return "parsed_date"
        else:
            return(x)

In [14]:
data['parsed_id'] = data.apply(lambda x: homo_check(x['ID'], id = "ID"), axis = 1)
data.parsed_id.value_counts()

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'parsed_id'],
      dtype='object')

In [15]:
data['parsed_id'] = data.apply(lambda x: homo_check(x['ID'], id = "ID"), axis = 1)
data.parsed_id.value_counts()

correct ID    3513617
Name: parsed_id, dtype: int64

In [17]:
data.Source.value_counts()

MapQuest         2414301
Bing             1034799
MapQuest-Bing      64517
Name: Source, dtype: int64

In [18]:
data.TMC.value_counts()

201.0    2080341
241.0     249852
245.0      40338
229.0      22932
203.0      17639
222.0      13154
244.0      12185
406.0      11109
246.0       7118
343.0       6930
202.0       6298
247.0       4775
236.0       2121
206.0       1274
248.0       1025
339.0        920
341.0        592
336.0         89
200.0         66
239.0         54
351.0          6
Name: TMC, dtype: int64

In [19]:
data.Severity.value_counts()

2    2373210
3     998913
4     112320
1      29174
Name: Severity, dtype: int64

In [27]:
# Check if all datetime values follow the same pattern. If the result of value_counts() is 100% 'parsed_date', then everything's good.
#data['parsed_starttime'] = pd.to_datetime(data['Start_Time'], format='%Y-%m-%d %H:%M:%S')
data['parsed_starttime'] = data.apply(lambda x: homo_check(x['Start_Time'], id = "datetime"), axis = 1)
data.parsed_starttime.value_counts()

parsed_date    3513617
Name: parsed_starttime, dtype: int64

In [28]:
# Check if all datetime values follow the same pattern. If the result of value_counts() is 100% 'parsed_date', then everything's good.
#data['parsed_endtime'] = pd.to_datetime(data['End_Time'], format='%Y-%m-%d %H:%M:%S')
data['parsed_endtime'] = data.apply(lambda x: homo_check(x['End_Time'], id = "datetime"), axis = 1)
data.parsed_endtime.value_counts()

parsed_date    3513617
Name: parsed_endtime, dtype: int64

In [60]:
# Find the boundary values for the coordinates. These can be plotted on a map to see if they agree with the Country column.
print(data.Start_Lng.max())
print(data.Start_Lng.min())
print(data.Start_Lat.max())
print(data.Start_Lat.min())

-67.113167
-124.623833
49.002201
24.555269

In [43]:
data['Distance(mi)'].max()

In [71]:
data[data['Distance(mi)'] > 300]

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,parsed_id,parsed_starttime,parsed_endtime
1706683,A-1706716,MapQuest,201.0,3,2018-08-11 12:44:43,2018-08-11 13:14:17,33.084515,-80.65255,NaN,NaN,333.630005,Accident on I-95 Southbound from Exit 77 Hodges Chapel Rd to Exit 68 SC-61 Augusta Hwy.,NaN,I-95 N,R,Walterboro,Colleton,SC,29488,US,US/Eastern,KRBW,2018-08-11 12:35:00,87.8,NaN,66.0,29.98,10.0,Calm,NaN,NaN,Clear,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day,correct ID,parsed_date,parsed_date

In [44]:
data.Description.value_counts()

At I-15 - Accident.                                                                 2123
At I-5 - Accident.                                                                  1928
At I-405/San Diego Fwy - Accident.                                                  1782
At I-605 - Accident.                                                                1492
At Grand Ave - Accident.                                                            1117
                                                                                    ...
Accident on SC-402 at Bellomy Ln.                                                      1
One lane blocked due to accident on I-16 Westbound at Exit 58 GA-199.                  1
Right lane blocked due to accident on I-285 Westbound at Exit 2 Camp Creek Pkwy.       1
Accident on Cane Gully Rd at Caddell Rd.                                               1
Ramp closed to The City Dr/Exit 14A - Road closed due to accident.                     1
Name: Description, Length: 1780092, dtype: int64

In [48]:
data.Number.max()

9999997.0

In [52]:
print(data[data['Number'] == 9999997])

                ID Source  TMC  Severity           Start_Time  \
3512066  A-3512230   Bing  NaN         2  2019-08-20 17:53:30

                    End_Time  Start_Lat  Start_Lng    End_Lat    End_Lng  \
3512066  2019-08-20 18:21:49  39.197346 -120.09933  39.198302 -120.09807

         Distance(mi)                                       Description  \
3512066         0.094  At CA-267/N Shore Blvd - Accident. Lane blocked.

            Number          Street Side        City  County State Zipcode  \
3512066  9999997.0   Chinquapin Rd    L  Tahoe City  Placer    CA   96145

        Country    Timezone Airport_Code    Weather_Timestamp  Temperature(F)  \
3512066      US  US/Pacific         KTRK  2019-08-20 17:45:00            79.0

         Wind_Chill(F)  Humidity(%)  Pressure(in)  Visibility(mi)  \
3512066           79.0         23.0         24.28            10.0

        Wind_Direction  Wind_Speed(mph)  Precipitation(in) Weather_Condition  \
3512066              W             15.0                0.0     Partly Cloudy

         Amenity   Bump  Crossing  Give_Way  Junction  No_Exit  Railway  \
3512066    False  False     False     False     False    False    False

         Roundabout  Station   Stop  Traffic_Calming  Traffic_Signal  \
3512066       False    False  False            False           False

         Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
3512066         False            Day            Day               Day

        Astronomical_Twilight   parsed_id parsed_starttime parsed_endtime
3512066                   Day  correct ID      parsed_date    parsed_date

In [82]:
print(data[data['Side'] == "NaN"])

            ID    Source    TMC  Severity           Start_Time  \
27076  A-27077  MapQuest  201.0         2  2016-08-12 20:21:24

                  End_Time  Start_Lat   Start_Lng  End_Lat  End_Lng  \
27076  2016-08-12 20:51:24  37.712921 -122.139587      NaN      NaN

       Distance(mi)                                         Description  \
27076           0.0  Accident on CA-185 14th St Eastbound at 140th Ave.

        Number     Street Side         City   County State Zipcode Country  \
27076  14000.0  E 14th St  NaN  San Leandro  Alameda    CA   94578      US

         Timezone Airport_Code    Weather_Timestamp  Temperature(F)  \
27076  US/Pacific         KHWD  2016-08-12 19:54:00            64.9

       Wind_Chill(F)  Humidity(%)  Pressure(in)  Visibility(mi)  \
27076            NaN         63.0          30.0            10.0

      Wind_Direction  Wind_Speed(mph)  Precipitation(in) Weather_Condition  \
27076            WNW             10.4                NaN             Clear

       Amenity   Bump  Crossing  Give_Way  Junction  No_Exit  Railway  \
27076    False  False      True     False     False    False    False

       Roundabout  Station   Stop  Traffic_Calming  Traffic_Signal  \
27076       False    False  False            False           False

       Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
27076         False          Night            Day               Day

      Astronomical_Twilight   parsed_id parsed_starttime parsed_endtime
27076                   Day  correct ID      parsed_date    parsed_date

In [80]:
data.loc[27076, 'Side'] = "NaN"

In [70]:
# Calculate what share of each column is populated by NaN values

print(len(data[data['ID'].isna()].index) / len(data.index))
print(len(data[data['Source'].isna()].index) / len(data.index))
print(len(data[data['TMC'].isna()].index) / len(data.index))            # 0.29
print(len(data[data['Severity'].isna()].index) / len(data.index))
print(len(data[data['Start_Time'].isna()].index) / len(data.index))
print(len(data[data['End_Time'].isna()].index) / len(data.index))
print(len(data[data['Start_Lat'].isna()].index) / len(data.index))
print(len(data[data['Start_Lng'].isna()].index) / len(data.index))
print(len(data[data['End_Lat'].isna()].index) / len(data.index))        # 0.7
print(len(data[data['End_Lng'].isna()].index) / len(data.index))        # 0.7
print(len(data[data['Distance(mi)'].isna()].index) / len(data.index))
print(len(data[data['Description'].isna()].index) / len(data.index))
print(len(data[data['Number'].isna()].index) / len(data.index))         # 0.6
print(len(data[data['Street'].isna()].index) / len(data.index))
print(len(data[data['Side'].isna()].index) / len(data.index))
print(len(data[data['City'].isna()].index) / len(data.index))
print(len(data[data['County'].isna()].index) / len(data.index))
print(len(data[data['State'].isna()].index) / len(data.index))
print(len(data[data['Sunrise_Sunset'].isna()].index) / len(data.index))
print(len(data[data['Civil_Twilight'].isna()].index) / len(data.index))
print(len(data[data['Nautical_Twilight'].isna()].index) / len(data.index))
print(len(data[data['Astronomical_Twilight'].isna()].index) / len(data.index))

0.0
0.0
0.29451104090172603
0.0
0.0
0.0
0.0
0.0
0.7054889590982739
0.7054889590982739
0.0
2.84607001844538e-07
0.6440269386219386
0.0
0.0
3.187598420658825e-05
0.0
0.0
3.2729805212121865e-05
3.2729805212121865e-05
3.2729805212121865e-05
3.2729805212121865e-05